* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 400px;
  margin: 20vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  background-color: mediumslateblue;  
  padding: 5px;
}

#display {
  background-color: #222;
  color: #fff;
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  margin-bottom: 7px;
}

.btn-container {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 7px;  
}

.btn-container > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;  
}

.btn {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer; 
  background-color: rgb(216, 216, 216); 
}

.clear {
    background-color: rgb(245, 55, 55);
}

.functional {
    background-color: rgb(206, 76, 76);
    color: #000;
}

#equal {
  background-color: #0808ff;
  color: #fff;
}

.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.7s ease-in-out;
}

/* 
=================
Mobile navigation
================ 
*/

@media(max-width: 568px){
    .container{
      max-width: 320px;
      margin: 10vh auto 0 auto;
    } 
      .btn {  
  line-height: 80px;  
  font-size: 25px; 
} 
}

@media(max-width: 368px){
    .container{
      max-width: 300px;
      margin: 10vh auto 0 auto;
    }
    .btn {  
  line-height: 70px;  
  font-size: 25px; 
} 
}
